node_modules
.env
.env.*.local
.env.local
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
dist
build
coverage
.DS_Store

# Hardhat artifacts
artifacts
cache
typechain-types

# Next.js
.next
out

# Logs/uploads
backend/uploads
